[scheduling]
    cycling mode = integer
    initial cycle point = 1
    [[dependencies]]
        [[[P1]]]
            graph = """x => a => b & c
                            b => d & e
                                c => e & f
                                    a[-P1] => a"""

[visualization]
    number of cycle points = 3
    [[node groups]]
        dotted = e, d, f
    [[node attributes]]
        root = "style=filled", "fillcolor=yellow", "shape=circle", "fontname=courier bold"
        x = "shape=septagon"
        dotted = "style=filled, dotted"
